
body {
	color: #fff !important;
	background: #111116;
}


h1, p {
	padding: 0;
	margin: 0;
}

.msg-me {
	padding: 10px;
	width: 80%;
	border: 1px solid #353535;
	background: rgba(10,10,10,0.35);
}

.msg {
	padding: 10px;
	margin-left: 20%;
	width: 80%;
	border: 1px solid #353535;
	background: rgba(10,10,10,0.35);
}

input, textarea {
	background: rgba(0,0,0,0.95);
	padding: 5px;
	border: 1px solid #333;
	color: #fff !important;
}

.msg-input {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 80%;
	height: 60px;
}

.msg-send {
	position: fixed;
	bottom: 0;
	left: 80%;
	width: 20% !important;
	height: 72px;
	cursor: pointer;
	padding: 0;
	background: #000;
	color: #fff;
	border: 1px solid #333;
}